[2017-02-12 10:47] christopheranderson opened #1 "Don't touch function.json on code gen"
It'd be preferable not to touch `function.json` when we run the code gen step. If we could just keep all changes inside the `.funcpack` folder, it'd be minimally invasive.

[2017-02-12 10:47] christopheranderson opened #2 "Tests"
Write some tests for the code, dummy

[2017-02-12 10:48] christopheranderson opened #3 "Support for es5 runtimes"
Currently targetting es6 for the build output. That would prevent older node versions from running the CLI. That might not be a big deal, since most Functions customers should be on 6.5.0 and above.

[2017-02-21 17:58] Stewartarmbrecht opened #5 "Issues running on past versions of node. was: Failed Optional Dependency fsevents"
I am running on Windows 8.1 Enterprise x64 and I get the following error when I try to npm install...

npm WARN optional Skipping failed optional dependency /azure-functions-pack/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.1.1

Any idea what might be the problem?

I get this error when I run funcpack

for (const [name, fx] of this.functi

[2017-02-21 18:25] Stewartarmbrecht commented on #5
Ran with out error on Windows 10:

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\azure-functions-pack\node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

C:\Users\stewa\Source\Repos\tococms-api>funcpack
info: Ge

[2017-02-22 08:12] christopheranderson commented on #5
That's just a warning. That's not an issue to be concerned with on Windows. The biggest issue ends up being that you need Node v6 or I think some of the es6 features I'm using won't work

[2017-02-22 08:12] christopheranderson opened #6 "Create Issue template"
Need to create an issue template

[2017-03-05 02:31] christopheranderson commented on #2
Now added more manual integration testing, which is nice

[2017-03-05 02:35] #5 closed

[2017-03-05 02:36] christopheranderson opened #8 "Provide warning when running on a lower version of Node"
You need Node v6.5.0 - should set an engine attribute to yell at folks who don't do this.

[2017-03-05 03:47] christopheranderson opened #10 "Fix Uglify package once es6 is fully supported"

[2017-03-05 18:48] davidebbo opened #11 "Tool should quietly ignore non Node functions"
Repro:

- Clone https://github.com/davidebbo-test/FunctionsGitHub
- Go into `HttpNodeAzureStorage` function folder
- Run `npm install`
- Run `funpack pack ./`, which runs successfully:

[code]

However, it does seem to do the right thing:

- The files in the `.funcpack` folder don't have anything about the function's Node modules
- `function.json` is not modified

[2017-03-05 18:54] davidebbo commented on #11
Or maybe it needs to be run app level and not function level? I just tried that, and the tool blew up:

[code]

Maybe it has an assumption that all functions are Node? It should be able to ignore non-Node functions.

[2017-03-06 02:54] christopheranderson commented on #11
Ah, yeah. That's right. It has to work at the app level. .csx functions blow it up. That's a fix I can add.

[2017-03-06 03:57] davidebbo commented on #11
I renamed to clarify what it's about.

[2017-03-06 06:12] #11 closed

[2017-03-06 17:06] christopheranderson opened #13 "Readme pack and unpack are swapped"

[2017-03-14 11:23] cmatskas opened #14 "Issue with packing with Uglify on moment.js"
I was testing the `funcpack pack --uglify ./` command with a simple HTTPTrigger function that consumes lodash and moment.js. The uglify command fails with the following error message:

[code]
Is this because moment.js implements too many ES6 features? Thanks

[2017-03-14 11:25] cmatskas commented on #14
In addition, when this fails, rather than revert back to the original state, the function is still packed which means that things would fail if it were for a user to deploy this (not sure why but hey!). My point is that pack execution failures should revert the function to it's original format.

[2017-03-14 20:06] christopheranderson commented on #14
Could you file a specific issue for the "should revert" request? I think that's a good one.

In this case, Uglify looks like it didn't like that you weren't handling a promise rejection. I could probably make it so you could provide some config for uglify, so you could choose to ignore those issues. If you just do a `require("moment")` and not use it, does it still fail? Ideally you could add a si

[2017-03-25 17:56] SteveALee opened #16 "Portal file access is confused after using this"
Feel free to just close this as it's a pretty unusual use case but I'm raising it for the record.

So I installed and ran this in the Azure portal Functions Console (because I could) and then wanted to look at the files using the Functions Files UI - mainly to figure out what had been done. I had a single functions

When the Functions panel is opened the `.funcpack/index.js` is open which make sen

[2017-03-28 14:58] johnnliu opened #17 "webpack troubles with a particular library"
The library is doing a filesystem read in __dirname very annoying.
I'm thinking if there should be a way to exclude externals.  Or add other webpack config options like loaders.

[2017-03-28 17:07] christopheranderson commented on #16
@lindydonna - any idea why this would be?

[2017-03-28 17:08] christopheranderson commented on #17
I'll take a look at this. What was the name of the library that you used that hit this?

[2017-03-28 17:17] SteveALee commented on #16
File viewer only allows access to function folder and below I think. .funcpack is in wrong place.

[2017-03-28 21:52] johnnliu commented on #17
https://github.com/johnnliu/azure-functions-o365/blob/master/sharepoint-sp-pnp-js.js

would be this line:

https://github.com/s-KaiNet/node-sp-auth/blob/master/src/auth/resolvers/OnlineUserCredentials.ts#L150

it's trying to read a template (XML) used for SAML auth.  I'm thinking if we can tell webpack to inline the XML then we won't need fs.read

[2017-03-29 08:45] johnnliu commented on #17
I forked the library and inline the template.  It's not pretty, but is the only place where fs.read was used.  I'm asking the webpack guys whether someone has build a loader that overrides fs and let me inline small xml config files.

![image](https://cloud.githubusercontent.com/assets/1279372/24446172/457a30c8-14b8-11e7-993f-e8c4e24eeb71.png)

repacked.

![image](https://cloud.githubusercontent.c

[2017-03-31 04:22] dejanvasic85 opened #18 "funcpack doesn't work for alpine and ubuntu"
To replicate:

``` npm install -g azure-functions-pack ```

``` funcpack pack -u ./ ```

Returns:
'no such file or directory'

![image](https://cloud.githubusercontent.com/assets/1418428/24536296/384e5154-1625-11e7-8ae5-2357052ecc5e.png)

This is a show-stopper as we are using BuildKite agent with docker image to build and publish our azure functions.

[2017-04-01 01:13] lindydonna commented on #16
@christopheranderson Can you tell me the layout that funcpack produces?

Note that the API for listing the functions within an app is in Kudu.

[2017-04-04 05:31] FastNinja commented on #18
@christopheranderson is that intended? with Microsoft reaching out to open source community and adding support for Linux everywhere one might think that Azure functions (and `function-packers`) shall work under Linux/Ubuntu.

[2017-04-14 16:08] christopheranderson commented on #18
Not intended. Only tested on Windows 10 PowerShell and Mac terminal. This is a bug.

[2017-04-14 17:00] christopheranderson commented on #16
So this produces a structure like:

[code]

I think the problem here is that you can't navigate back to `.funcpack/index.js` once you navigate away. If the file's tool in the portal let you navigate down the root of the Function App, that might help with this and other issues like shared libraries/node modules/etc.

[2017-04-14 17:48] lindydonna commented on #16
@christopheranderson Great point. I'll add this to the portal backlog. I'll have to work with the designer to find the right UX.

[2017-04-16 21:30] smil2k commented on #18
Hi,

I just created a pull request for this. (At least the fix for "No such file or directory").

Still running it returns error:
$ funcpack pack .
/usr/lib/node_modules/azure-functions-pack/lib/packhost-generator.js:132
            for (const [name, fx] of this.functionsMap) {
                       ^

SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:16)
    at Module._co

[2017-04-16 21:43] smil2k commented on #8
Hi,

You mean, change this line, to >=6.0.0 ?

  "engines": {
    "node": ">=4.0.0"
  }

in package.json?

[2017-04-16 22:02] smil2k commented on #14
I was just wondering whether an interim solution could be to include babel with es2015 option before uglify in webpack ?

[2017-04-17 20:30] davidebbo opened #20 "Provide a way to ignore dev dependencies"
We only want to npm install runtime dependencies. Unfortunately, if we don't restore dev dependencies, WebPack fails because it find all the `require` statements and expects to pack all of them.

[2017-04-26 09:16] dafian opened #21 "Require is not a function"
Hi,

I'm able to pack the Function App by running `funcpack pack ./`. Not able to run `func run <myfunc>` because func is not recognized as a function.
Btw, I've pushed my Function App and at the very first invocation I've got this:
`2017-04-26T08:49:38.868 Exception while executing function: Functions.Consumptiochatbot. mscorlib: TypeError: require is not a function
    at Object.<anonymous> (D:\

[2017-04-29 03:39] chitrang89 opened #22 "Azure Bot Service - No such file or directory \.funcpack\types\mime.types"
I started receiving ﻿error as shown in the image. I have tried to restart the appservice, push a change to trigger a new deployment but still no go. Could I please get some help here?

Error Log:

2017-04-29T02:59:31.056 Exception while executing function: Functions.messages. mscorlib: Error: ENOENT: no such file or directory, open 'D:\home\site\wwwroot\.funcpack\types\mime.types'

    at Error (n

[2017-04-29 04:22] davidebbo commented on #22
There is a new version of Kudu that may be causing this.

As a temporary workaround, create an Azure App Setting names `KUDU_EXTENSION_VERSION`, with value `62.60413.2788`. This will go back to the old version.

But we need to investigate. Would you be able to [share a repo](https://github.com/projectkudu/kudu/wiki/Using-a-git-repo-to-report-an-issue) so that we can repro and take a look? Thanks!

[2017-04-29 04:23] davidebbo commented on #22
Adding @watashiSHUN as well.

[2017-04-29 04:24] chitrang89 commented on #22
Hi David,

Thanks for  your prompt reply. Could you please share the respective email address/es as my repo is not on GitHub.

[2017-04-29 04:30] davidebbo commented on #22
Sure, it's david.ebbo (at) microsoft.com.

Please start by verifying that issue goes away with older Kudu.

[2017-04-29 04:30] watashiSHUN commented on #22
cc to shucai (at) microsoft.com, thanks

[2017-04-29 04:36] chitrang89 commented on #22
Can confirm that the issue is related to the new release as setting the KUDU version as per @davidebbo seems to fix the issue. Will share repository now. Thanks guys :)

[2017-04-29 04:44] chitrang89 commented on #22
Also, I did a smoke test by creating a new bot which worked fine until I added CD with the same source and it started complaining, could it be that something in my source triggers the new version of KUDU?

[2017-04-29 04:46] watashiSHUN commented on #22
I can't access the repository:

Can you share your function app [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

[2017-04-29 04:51] davidebbo commented on #22
I'm done for the day, but will try to help look over the weekend.

[2017-04-29 04:54] watashiSHUN commented on #22
just reading the error message it feels like in your index.js you are trying to access `index\..\types\mime.types` but the new kudu will move your index.js into a new folder called `.funcpack` (and smash it with its dependencies)

can you try to use an absolute path as a workaround? (no need to change kudu version)

[2017-04-30 18:21] davidebbo commented on #22
@chitrang89 I see you shared the repo with me to my microsoft email. Bitbucket is asking me to create a new account to access it. Could you revoke that one and instead share to user 'davidebbo'? Or as an alternative, you can share the name of a test Azure Web App that is in that state.

[2017-04-30 19:19] davidebbo commented on #22
Ok, so I investigated, and I think I understand the root cause: the new deployment process relies on WebPack, and one of the npm modules you are using (mime) is not friendly to WebPack. I see a mention of a similar issue on https://github.com/visionmedia/superagent/issues/1036.

Let's figure out how we can unblock this.

[2017-04-30 21:53] davidebbo opened #23 "funcpack breaks function when using restify"
To repro funcpack issue:

- Clone https://github.com/davidebbo-test/FuncPackRestifyIssue
- Run `npm install --production` from the root
- Run `funcpack pack .`
- Run `func host start`
- Request the function, e.g. by hitting http://localhost:7071/api/Hello (adjust the port)

And it blows up with:

[code]

[2017-05-01 19:18] davidebbo commented on #22
@chitrang89 a fix has been deployed to not have this new mode on by default. Can you try removing `KUDU_EXTENSION_VERSION` and making sure it still all works? Thanks!

[2017-06-28 18:53] securityvoid opened #24 "FuncPack does not worky with openpgpjs"
If you require openpgpjs in your project, you will get the error:
mscorlib: Error: Cannot find module 'crypto'

This is even if you have the module "crypto" required by the application.

#### Repro steps
Either create the following files below, or clone this repo:
https://github.com/securityvoid/funcpack-bug.git

1. Create a simple Azure function based on an HTTP Trigger that uses the 'openpgp' li

[2017-06-29 13:58] securityvoid commented on #24
@christopheranderson responded to a stack overflow post I have on this issue. The above problem is because "crypto" is a native module which therefore has to be excluded from Webpack.

The ability to ignore modules has been added in the following feature branch:
https://github.com/Azure/azure-functions-pack/tree/feature-ignoremodules

I was able to test this by merging in the feature branch and co

[2017-06-29 14:38] securityvoid commented on #24
Okay, I was actually wrong. I'm not sure what I did the first time, but I must not have actually run the Funcpack command by mistake. I ran it this time to get this running on the main project, and running the "dev" branch I'm getting the error:
`Error: Cannot find module 'C:\Users\DouglasLogan\AppData\Roaming\npm\node_modules\azure-functions-pack\lib\main.js'`

Sure enough, that file doesn't exis

[2017-06-29 14:58] securityvoid commented on #24
Okay, sorry for the open and closes. I did not test well enough in the beginning.

At this stage I have the "dev" branch built, and trying it against the sample bug git repo I still get the error that it could not find the module crypto.

This is my funcpack.config.json:
[code]

Am I missing something else I need to do to use this? Debugging the module, it looks like the proper values are getting

[2017-07-01 23:22] CameronK opened #28 "Run funcpack on file change"
When developing functions locally, it seems fairly common to use the `func run <functionName>` command from `azure-functions-cli`.

The local function host offers a "live reload" feature that reloads the server after file changes. It would be great if there was a `funcpack watch` command that observed source changes and automatically ran the webpack config, so that the command didn't have to be ma

[2017-07-04 00:30] Bomret opened #29 "Wrong line endings for *nix file systems in main.ts"
The `main.ts` has Windows-style line endings (CRLF) which breaks *nix compatibility. I always get the error `env: node\r: No such file or directory` when running `funcpack pack .` on macOS. Simply changing the line endings of the `main.js` in the installed npm package to Unix-style (LF) fixes the problem.

[2017-07-05 17:33] lijunle opened #30 "Switch to official webpack"
The official webpack 2.x has released for a long time. Even the webpack 3.x has been released last week. It should switch to the official release.

[2017-07-06 16:28] christopheranderson commented on #29
I'll take a look at this for this week's release. I've tested on my mac, but mostly dev from my work PC. Maybe I'll set up a linux test to help me catch things like this.

[2017-07-06 16:30] christopheranderson commented on #28
It's a good feature request. I can see if I can find any file watching utilities I can just throw in and try it out.

[2017-07-06 16:32] christopheranderson commented on #22
I've now added support for ignoring modules. You should be able to list "mime" as an ignored module.

[2017-07-06 16:32] #22 closed

[2017-07-06 16:33] christopheranderson commented on #24
This is a weird one because it should just ignore crypto. Maybe I have my package paths being generated wrong. I'll try to repro and see what's up.

[2017-07-10 07:05] Bomret opened #33 "Funcpack massively slows function execution instead of speeding it up"
I have a function app that consists of five functions which performs massively slower (all individual functions are two to five times slower) when funcpacking it instead of keeping the standard deployment with the node_modules folder. It is a node function app that I cannot share unfortunately, because of business relevant code, but this is the dependencies section:

[code]

I have compared deploy

[2017-07-10 09:17] davidebbo commented on #33
Actually that's not correct. The only thing func-pack is expected to affect is the **cold start**. i.e. the time it takes to run the first function after you restart the app (or change an Azure app setting). Did you test that scenario?

But when hitting the same function repeatedly (hot run), there is no expectation that func-pack will help at all, since all modules are already loaded. I would als

[2017-07-10 14:01] Bomret commented on #33
@davidebbo will try those out this week and post my results here.

[2017-07-14 09:27] Bomret commented on #29
Any update on this?

[2017-07-15 11:28] SteveALee opened #34 "investigate webpack 3 scope hoisting"
By dropping all the module iefe wrappers hoisted modules should speed up warm up even more. Though it does lose the good isolation.

We should explore this unless functions soon removes the need for this package.

Hopefully it works fine with common is modules.

https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b

[2017-07-17 12:49] jordanyaker opened #35 "Switch to a JS task-runner?"
After a couple weeks of working with Azure functions and trying to get the pack tool to fit my workflow, I was left with some feels about the following aspects of the pack tool:

* It modified the files in-place instead of putting them in another location (thus necessitating un-pack).
* Not cross-platform.
* Didn't allow for easy modification, or customization of the packing.  I use [config](https

[2017-07-26 16:35] Bomret commented on #33
Ok, I put everything through some testing and investigation. The fault was a very weird bug in my implementation. Now funcpack does indeed help with cold startup times!

[2017-07-26 16:35] #33 closed

[2017-08-13 23:04] tstringer opened #36 "Errors out on Linux due to line endings"
I installed this through npm but running it on Linux (Fedora 25), I get the following error:

It looks like this has a non-*nix standard CR in there.

[2017-08-17 10:58] SteveALee commented on #36
I just spotted an issues change in my PR #37  [with EOL](https://github.com/Azure/azure-functions-pack/pull/37/files#diff-2cfb1554a9cbe2bf7981031a26f82e4eL2)

Looks like someone had git globally configured to save CRLF in the repo - never a good idea for OSS projects. Best to set it in the project settings.

Also editorconfig is useful.

[2017-08-17 11:02] SteveALee opened #38 "Output option is a little strange"
This is a rather Mute point  as it doesn't currently work (see #34)

Currently the function JSON files are patched to point to the new .funcpack/index.js

Given this, I would prefer -o to copy the *entire* function app and only modify the output - not the src.

I can see the current setup allows it to be run in situ on AZURE but is not good for CI/CD. Could could always add an option.

Currently t

[2017-08-19 16:01] SteveALee opened #39 "Runtime fails to find the function entry points when code is built with typescript"
If the basic JS example code is tweaked to use the [azure-functions-typescript typings](http://azureserverless.com/2017/07/16/using-typescript-in-azure-functions/) the local runtime fails with errors and Azure gives a 500.

[code]

# From TS
[code]
# From JS

[code]

The __webpack_require__ definition is the same in both, but the import ordinal is different

The TS generated JS is different to the

[2017-08-19 18:14] SteveALee commented on #39
if I delete the extra lines from the packed index.js or set the TS module ot none the code still fails to find the entry point.

Crazy!

Until resolved I'll have to go unpacked and publish all the node modules as well - sloww

[2017-08-20 16:07] SteveALee commented on #39
The answer turns out to be simple, use the `export =` form in typescript  which resolves to `module.exports =`

eg

```export = function index(context: HttpContext, req: IFunctionRequest): void {```

[2017-08-20 16:07] #39 closed

[2017-08-28 22:31] christopheranderson opened #41 "Should be able to override ".funcpack" default"
User should be able to provide their own alternative name to .funcpack directory

Related: #37

[2017-08-28 22:33] christopheranderson opened #42 "Should gracefully handle directory that doesn't exist for output option"
Should gracefully handle directory that doesn't exist for output option

Might need a better error message or we could recursively create the directory

Related: #37

[2017-08-28 22:53] christopheranderson commented on #36
This is merged in dev

[2017-08-28 22:56] christopheranderson commented on #38
I think this is probably agreeable. Mutating in place has always been a bit weird.

[2017-08-28 23:17] christopheranderson opened #43 "Copy Function Project content to new directory"
It's a big issue today to have the built output of the pack tool touch the original source files (because you have to unpack). While in place modifications can be useful for long CI flows (like the output from a TS compile), it's not ideal for normal JS scenarios. Not sure if we should actually support this, but it's worth thinking through what the workflows should be.

Related: https://github.com

[2017-08-28 23:17] christopheranderson commented on #29
This is checked in to dev now.

[2017-08-29 02:26] tstringer commented on #36
Awesome, thanks, @christopheranderson !! 👍 😄

[2017-08-29 02:26] #36 closed

[2017-09-01 22:05] christopheranderson opened #45 "Issue with Webpack Uglify option"
Run running against the test suite, got error on Uglify scenario

[code]

[2017-09-01 22:49] christopheranderson commented on #45
Uglify doesn't support ES6. I fixed this before with a hack, but that left WebPack itself behind.

Looks like uglify-es is going to support ES6, but I think, given the dubious performance benefits that uglify offers funcpack, I'm going to disable it in the next release so we can keep moving webpack forward.

https://github.com/mishoo/UglifyJS2/tree/harmony

[2017-09-02 00:22] christopheranderson commented on #45
Kept the support in by marked it deprecated in 0.3.0

[2017-09-06 20:41] tony-gutierrez opened #47 "Does kudu on azure have funcpack or not??"
I see documentation here
https://github.com/projectkudu/kudu/wiki/Configurable-settings
indicating that I can set SCM_USE_FUNCPACK=1

This doesn't appear to have any effect. There is nothing in my azure deploy.cmd file that has anything to do with funcpack. However I do see a deploy.cmd file floating around the web that is the same version as mine (1.0.15) and does have refs to funcpack.(https://c

[2017-09-06 20:49] tony-gutierrez commented on #29
This is still an issue in the latest release.

[2017-09-06 20:50] tony-gutierrez opened #48 "doesnt work with the official azure node sdk?"
[code]

[2017-09-06 22:00] davidebbo commented on #47
I understand that running int oissues can be frustrating, but statements like **This is all hella confusing (typical MS). Can we get some straight answers?** are counter productive to trying to solve issues. Please refrain from including those if your goal is to get the issue investigated.

Yes, funcpack does get run automatically on functions repo. e.g. try pushing https://github.com/davidebbo-te

[2017-09-06 22:02] davidebbo commented on #47
Dup of https://github.com/projectkudu/kudu/issues/2548.

[2017-09-06 22:02] #47 closed

[2017-09-06 22:04] tony-gutierrez commented on #47
Verified that funcpack does not run, and the documentation on this site is wrong, or at a minimum incomplete. There is nothing in the default deploy.cmd that does anything with regards to that env variable or funcpack. If this wasn't par for the course for everything Azure, I would be much less likely to point out the fact that it is indeed typical.

[2017-09-06 23:06] christopheranderson commented on #48
Hey @tony-gutierrez, could you provide your package.json packages section and which package you're referencing in your code.

In this case, I've tested a few Azure libraries, but it's possible one of them doesn't work with WebPack and I can try to get a fix sent out to them.

[2017-09-06 23:49] tony-gutierrez commented on #48
latest release:
`"azure": "^2.0.0-preview"`

[2017-09-06 23:51] christopheranderson commented on #48
Cool. My tests currently run against ^1. I'll start trying out the ^2 preview bits.

[2017-09-07 00:53] tony-gutierrez commented on #47
If anyone else is running into this see https://github.com/projectkudu/kudu/issues/2548

[2017-09-15 02:14] nelak opened #49 "Unable to resolve webpack@fulls1z3/webpack#v2.2.1-harmony"
It seems that repository: https://github.com/fulls1z3/webpack was deleted and now trying to install azure-functions-pack from npm always fails.
[code]
Is there any other way to get azure-functions-pack up and running meanwhile?

[2017-09-15 02:24] davidebbo commented on #49
@christopheranderson why is it depending on @fulls1z3's webpack and not https://github.com/webpack/webpack?

[2017-09-15 03:06] nelak commented on #49
@fulls1z3 Thanks for the input I'll give that a try to see how it works.
Although my concern is that having git dependencies leaves you open to this issue where a package install starts failing for everyone because a git dependency has been removed.
After this I'm reconsidering taking git dependencies and even if I were to own them I'd advice against it since it may completely other packages depen

[2017-09-15 03:17] davidebbo commented on #49
@christopheranderson just updated the latest tag to an earlier version without the issue, so it should be fixed now.

[2017-09-15 03:17] #49 closed

[2017-09-15 03:20] fulls1z3 commented on #49
@nelak I agree, actually I've earlier published the information about the replacement solution which works without this repo (original webpack + harmony uglify) and it was going to be depreceted and deleted after a while.

Anyway if you need any help on this topic, feel free to ask.

[2017-09-15 03:20] nelak commented on #49
@davidebbo Cool! thanks for the quick fix 💯

[2017-09-15 03:37] nelak commented on #49
@fulls1z3 thanks for your input @davidebbo solution has worked for me already.
The issue was reminiscent of the left-pad issue, lesson learned, I'll try to make sure to avoid using git dependencies in public packages from now on.

[2017-09-25 21:11] tony-gutierrez opened #52 "How to indicate a failure to application insights, AND return a custom error?"
https://stackoverflow.com/questions/46414162/how-to-trigger-a-failure-in-an-azure-function-http-trigger-with-a-custom-error

[2017-10-28 21:50] ad-ab opened #55 "Issue with SCM_USE_FUNCPACK=1 on Consumption Plan"
Hi,
I have run into an issue I was unable to solve to my satisfaction.

I am trying to run azure-functions-pack after gitdeploy using the **SCM_USE_FUNCPACK=1** option.
The issue is that after deployment the azure function doesn't work.
Running the pack locally produces a different set of files in the **./funcpack** folder than on the server. After inspecting these files I have come to the conclus

[2017-11-02 08:26] danielserrao commented on #21
I have a similar where funcpack bundles my code and it changes some of my variables to objects. For example, I'm using the function generate from the node-chartist npm module, which is a function. The error is:

`TypeError: generate is not a function ` in my azure logs.

If I make a console.log(typeof generate) locally I see function, but if I do it in the bundle file in microsoft azure, I will se

[2017-11-02 15:19] danielserrao opened #56 "node-chartist not working well with webpack (azure-functions-pack)"
Hi,

I made an Azure Function micro service using Node.js and I'm using node-chartist to generate graphs. Locally is working fine, but when deploying to development environment, it is executed a script that executes azure-functions-pack and generate a bundle with the service code and all the required npm modules and it seems that for some reason the function generate changes from function to an em

[2017-11-09 17:23] ztoben opened #57 "Need a way to enable dirname and filename in the webpack configuration"
I'm working on a project where it is necessary to have the relative __dirname and __filename in the webpack node configuration turned on. It seems to be hardcoded to false in the webpack-runner.ts. I would propose that it either be allowed as an option to the command pack (`-f` and `-d`), or passed through the `funcpack.config.json`.

Open to other suggestions, and also wondering why it was explic

[2017-11-16 23:39] bjornicus opened #58 "How to have environment config with function-pack?"
I'm deploying my node.js azure function via an 'Azure App Service Deploy' step in a VSTS release definition.  One of the things you can do in that step is "JSON variable substitution", which I was using to substitute some environment specific variables into my config.json files which my function would get by doing `let config = require('./config.json');`

Functionally, everything was working quite

[2017-12-11 08:31] qs-wang commented on #43
I'm actually working on this by copy the bundle, and the functions folder structure to the output directory.
If you'd be interested in, I can contribute the changes back.
The default folder is as following
dist
   -- host.json
   -- index.js
   --function1
   ----funciton.json -> pointing to ../index.js
   --funciton2
   ----funciton.json -> pointing to ../index.js

[2017-12-15 01:43] tony-gutierrez commented on #52
Hello?

[2017-12-15 03:13] davidebbo commented on #52
I don't think this question relates to func-pack, so I'm guessing you're in the wrong repo. see https://github.com/Azure/azure-functions-pack to details on what this repo is about.

[2017-12-15 03:13] #52 closed, assigned to nobody

[2018-01-03 22:29] christopheranderson opened #60 "Enable nightly CI"
Should have CI running nightly to catch issues with Functions

[2018-01-03 22:31] christopheranderson commented on #58
Sorry for missing this issue for so long, lots of vacation/conferences. (Also sorry for the excuse :P)

In this case, I'd use environment variables to tweak config. Alternatively, apply your config updates before packing.

Theoretically, you should be able to add it to the ignored files list, but I'll have to test that.

[2018-01-03 22:35] christopheranderson commented on #57
I was looking into potentially allowing you to provide your own webpack config options that I'd just pass through and error if there is a collision with the ones I provide. That would allow for this.

Alternatively, I'm ok with it being added to funcpack.config.json, but I'm not sure I'd want to add it as a short option in command. I'd have to think on it.

If you code up a PR and come up with som

[2018-01-03 22:36] christopheranderson commented on #56
Locally, if you delete your node_modules, does this work or fail? What's your Node version?

[2018-01-08 16:53] ztoben commented on #57
Sure, that would work too. Short hand option would definitely not be my preference. I have the changes made in a fork on my profile from when I submitted this, but I can't submit it as a PR for some reason. Do I need to be working in a branch instead of a fork?

[2018-01-08 18:33] bjornicus commented on #58
Thanks for the suggestion.

As far as I can gather, the way to set environment variables for a function is to put them in the application settings, which now that I look back at it looks like what I ended up doing.  The tricky part was that we have scripts which create the function app for automated creation of environments and we don't want manual steps like going to the portal and adding setting

[2018-01-08 18:37] christopheranderson commented on #58
FYI, for anyone who finds this, we also have some documentation about using ARM templates to deploy Azure Functions, (which includes the Storage dependency stuff) https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code

Alternatively, you can use the `azure-functions-core-tools` npm package which has an App Settings publisher in it, but I think the ARM method is mor

[2018-01-08 18:37] #58 closed, assigned to christopheranderson

[2018-01-12 20:51] christopheranderson opened #63 "Release Funcpack v1"
TBD list of work

[2018-01-12 20:51] christopheranderson opened #64 "Update Kudu version of FuncPack"
Need to update Kudu to the latest version of FuncPack

FYI - https://github.com/Azure/azure-functions-pack/pull/32#issuecomment-357343135

[2018-01-22 22:10] PriceChild commented on #23
This looks the same as https://github.com/Azure/azure-functions-pack/issues/21

I've also hit the problem.

[2018-01-23 12:04] joseph-cloudthing opened #66 "npm install from anywhere but registry doesn't work."
From the registry, all fine:
[code]

From any other possible location, I get a failure at the same point. e.g. git:
[code]

This is the same when pointing at tar.gz's etc.

I'm new to node, but I'm not having this issue when installing from git or tar.gz with any other package I try.

[2018-01-25 01:05] christopheranderson commented on #66
by design

This is because I don't have the .js source checked in, I'm using TypeScript. If you run "npm build" (and you might need to run "npm install" again to include my dev dependencies), then it would generate the .js output when you install from JS.

[2018-01-25 01:06] christopheranderson commented on #66
I could theoretically have a "install" script which would detect if the .js source is installed and then install it. Not sure if that's a common pattern.

Question: Why are you trying to npm install from github and not NPM?

[2018-01-25 18:28] christopheranderson commented on #57
There's a new feature that just got released in 1.0.0 that lets you modify the config object. https://github.com/Azure/azure-functions-pack/pull/65

Give that a shot and LMK if that doesn't work for you.

[2018-01-25 18:28] #57 closed, assigned to nobody

[2018-01-29 09:30] joseph-cloudthing commented on #66
Hey @christopheranderson I was just hoping to install azure-functions-pack from a branch quickly to test possible fixes. Checking out building/installing isn't a deal breaker, was just annoying :)

Don't worry about closing if it's not important!

[2018-01-31 22:14] christopheranderson commented on #66
It's not so much that it's not important. It's that I don't want to check in generated files, I feel that that is generally a bad practice.

The work to make installing from github isn't trivial, so if you don't mind, I'll just close this as won't fix for now. Thanks.

[2018-01-31 22:14] #66 closed, assigned to nobody

[2018-02-01 01:08] #63 closed, assigned to christopheranderson

[2018-02-01 01:08] christopheranderson commented on #64
This is now rolling out. It's live in West US 2 for testing now.

[2018-02-01 01:08] #64 closed, assigned to christopheranderson

[2018-02-01 09:15] joseph-cloudthing commented on #66
Definitely makes perfect sense.

[2018-02-02 19:43] nicojs commented on #39
Awesome! Thanks for the answer, we were looking all night for this one.

[2018-02-07 18:58] mderazon opened #71 "Proper usage"
Not sure how to properly use this.

I have continuous deployment set up for the function via Github
1. Should I commit `.funcpack` folder to Github ?
2. Would azure function know not to download npm packages even though I have a `package.json` at the root of my function ?
3. Should I have an `npm run build` script to first do `npm install` and then `func pack ./` ?

A sample project would go a lon

[2018-02-11 05:07] jdelk commented on #21
I also have this problem with funcpack.

I get this error: `TypeError: fetch is not a function` in my logs. The package I'm using is https://www.npmjs.com/package/node-fetch

`console.log(typeof(fetch))` returns object when bundled.

Hopefully this can be fixed soon, as a cold start for my function is about 25 seconds.

[2018-02-14 03:08] xt0rted commented on #71
Over the last few days I've set my project up to use this tool. The way I'm using it right now is I'm installing it as a dev dependency and then added a script to my `package.json` like so
[code]

Then in my `appveyor.yml` I've setup my build script like so
[code]

And then to deploy I'm using the new [Zip Push](https://www.appveyor.com/docs/deployment/azure-app-service-zip-push-deploy/) deploymen

[2018-02-15 22:17] necevil commented on #71
@xt0rted this is exactly the build pipeline I am about to create.
I agree clarification on the -c and -o options would be helpful!

[2018-02-15 23:00] necevil commented on #71
@mderazon to answer ONE of your questions:
If you deploy like @xt0rted did using Zip Push Azure by default expects all dependencies to be properly installed / contained within your zip — in the case of Zip Push Deployment — Azure will ignore your package.json and not attempt to re-install already installed modules.

More info on Zip Push deployments can be found here: https://blogs.msdn.microsoft.

[2018-02-23 03:19] graham-sportsmgmt opened #72 "Cannot find module "async""
We have been using funcpack successfully for many months, but recently it seems to be having issues with the async module which we rely on very heavily.

Everything is running fine in the local Functions Emulator, the code is committed to VSO which is set up as a deployment source for the function app.  To fix this all we have to do is change the value of SCM_USE_FUNCPACK to 0 but then we see the

[2018-03-08 23:50] christopheranderson opened #73 "Update doc for Webpack config plugin feature"

[2018-03-08 23:51] christopheranderson opened #74 "Update docker image to use Function's official image"

[2018-03-08 23:56] christopheranderson opened #75 "Add marie and other contributors to npm org"

[2018-03-10 14:17] lifan0127 opened #76 "Publish function within the .funcpack directory"
According to the documentation, we can use the `--copyToOutput` flag to copy all needed files to the `.funcpack` directory and then publish from there. It gives the following example:

[code]

However when I tried this approach, it still published the entire parent directory to Azure instead of the content in `.funcpack` only. Is it the right behavior? Then why we need to publish within `.funcpack

[2018-03-13 09:19] ErikAndreas commented on #21
Same problem as @jdelk with node-fetch ````javascript TypeError: fetch is not a function
    at module.exports.module.exports (D:\home\site\wwwroot\.funcpack\index.js:131255:26)````

[2018-03-15 16:33] bedej commented on #76
I see the same behavior for your step 1-3. The function is uploaded, but it's the original version of the function app, not the packed version - looking in the portal, the .funcpack folder does not appear to have been uploaded.

Version information:
Azure Functions Core Tools (2.0.1-beta.24)
Function Runtime Version: 2.0.11587.0
funcpack -V: 1.0.0

[2018-03-15 16:41] bedej opened #77 "funcpack on Mac with AFCT 2.0.1-beta.24 doesn't produce runnable function app."
I have a node.js function which runs successfully and I can test with "func host start".

I then run "funcpack pack ./" per the README.md. When I run "func host start" again, I get the below error spew.

I suspect funcpack may not work with AFCT v2? Just a guess since the README instructions say to use "func run" which appears to be a deprecated command in v2.

Http Functions:

	GeneratePdf: http:

[2018-03-17 21:29] bedej commented on #77
Actually the title isn't the reason - this doesn't work on Windows with AFCT v1 either. The same failure occurs after packing and running the functions locally, but only after a request comes in:

[3/17/18 9:27:06 PM] A ScriptHost error has occurred
[3/17/18 9:27:06 PM] Exception while executing function: Functions.GeneratePdf. mscorlib: One or more errors occurred. Error: ENOENT: no such file or

[2018-03-22 20:56] carloseachaves opened #78 "Dynamic Require Error"
Hi All,

I'm having problem with a dynamic require.

When i did it, work perfect

[code]

But when i try require a json file with a variables, the funcpack pack ./ command seems work well
but when i  start az functions dont work well. Could you help me?

[code]

[code]

[code]

[2018-04-18 02:03] GavinOsborn commented on #48
Hey @christopheranderson did you get any further with this issue?

[2018-04-18 02:52] GavinOsborn commented on #30
Does #32 complete this?

[2018-04-20 01:18] catswale opened #79 "Print out correct stack trace"
When an exception occurs the stack trace is printed from the func packed 'index.js' which makes it hard to find the source of the error - line and column of the source before it was func packed. Is there a way to get the correct stack trace?

[2018-04-24 15:40] andrewkdouglas opened #80 "Error: Cannot find module ."
Hi,

No matter what I try I hit the same bug while trying to use this package. `funcpack pack ./` runs successfully, but trying to start the functions (on localhost or in Azure) results in the error `"Error: Cannot find module ."`

It seems to be comming from this code block in `index.js` (the one generated by funcpack)

[code]

This seems to be similar to https://github.com/webpack-contrib/uglify

[2018-05-09 09:30] michaelbromley commented on #39
In addition to the solution from @SteveALee, I also had to set my Webpack config (using Webpack 4.8.1) to use: `libraryTarget: 'commonjs2'`, which creates an output file with `module.exports = ...` rather than just `exports = ...` (See explanation here: https://github.com/webpack/webpack/issues/1114)

[2018-05-21 15:16] Saltallica opened #82 "Error: Syntax Error: Unexpected token in JSON at position 0"
Hi, encountering the following when attempting to use funcpack pack ./

[code]

Windows 10
Node v8.9.4
npm  v5.6.0

[2018-05-28 11:47] tschnoelzer opened #83 "debug in VSCODE"
Hi Team,

how to debug a azure function in VSCode when using funcpack? When I remove the entries in function.json

`    "_originalEntryPoint": false,
    "_originalScriptFile": "index.js",
    "scriptFile": "../.funcpack/index.js",
    "entryPoint": "messages"`

then it works. is there a way to extend launch.json to use the original scriptfile.

a workaround is to set "scriptFile": "index.js", but

[2018-06-16 20:54] dr-jaah commented on #72
Hello graham, I'm finding the same error when i deploy my functions to Azure. Did you find any solution besides the one you mention?

[2018-06-16 20:57] graham-sportsmgmt commented on #72
No solution at this point.  I believe the functions team is focused on the next version which might just solve this problem at the core.

[2018-06-27 18:56] viyatgandhi opened #84 "Roadmap for this package?"
Hi Team,

Is this package still actively maintained by Azure Team? Last commit was few months back.
With increase in Azure Node.js serverless usage, it would be great if we can upgrade this package.
Thanks.

[2018-07-06 21:24] mhoeger commented on #84
Funcpack was made to address cold start issues for projects that have many files and dependencies. Right now, we're investing in [Run-From-Zip](https://github.com/Azure/app-service-announcements/issues/84), to address this problem. We're still not sure if we're going to continue maintaining funcpack (updating and responding to large issues) or if we will no longer maintain it as we move towards Ru

[2018-07-10 04:54] spacem opened #85 "Module not found: Error: Can't resolve for file:// packages"
I have a monorepo and in package.json have a local dependancy eg.
    "core": "file:../core",

I get this error:

[code]

I guess this comes from webpack? Any advice how to get past this?

[2018-07-10 23:13] viyatgandhi commented on #84
@mhoeger Thanks for your response. If Run-From-Zip solves the problems, will happy to use it. I will try it on my dev/test env soon and post my feedback.
Will keep this issue open so other's can know regarding the timeline of this package and maybe start using new option Run-From-Zip.
Thanks.

[2018-07-10 23:24] mhoeger commented on #84
Sounds great. Please do keep us posted!

[2018-07-24 15:39] jcoronel94 opened #86 "funcpack errors when requiring Sequelize"
Packing function project results in error only when trying to pack Sequelize and its dependencies. If I ignore sequelize the packing complete successfully but obviously wont be able to find Sequelize. Any workarounds for this?

[code]

[2018-07-27 05:26] harshithkashyap commented on #86
@jcoronel94 You need to add the following modules into `funcpack.config.json` at your project root.
[code]
We are using MSSQL dialect and hence package `tedious` hasn't been added to the above list. Update this accordingly to the dialect you are using.
Also, if your function app relies on associations defined in the models, you'll run into issues there as well.
We have dropped Azure Functions pack

[2018-08-28 20:33] ghost commented on #77
Any update on this? I bundled my function app with Webpack and I get the same error when calling it.

[2018-08-29 14:15] ghost opened #87 "Error: ENOENT: no such file or directory, open '.funcpack/classes.trie'"
If I just compile my typescript and run without bundling, everything is fine. If I try packing with funcpack or my own Webpack config, I get the no such file error when I launch the app. I'm not even sure what that file is or where it is referenced.

[2018-09-18 10:07] ramandeep-singh-1983 opened #88 "Getting errors in function after enabling function pack"
My Azure function was working fine. I followed the instructions and installed azure-functions-pack and now i get the following error in the function log when i access it:

`2018-09-18T09:56:53  Welcome, you are now connected to log-streaming service.
2018-09-18T09:56:57.156 [Info] Function started (Id=845c970a-f992-4000-8f9d-76ab41b5f670)
2018-09-18T09:56:57.265 [Error] Exception while executing f

[2019-01-16 18:05] iyerusad commented on #84
Hi @mhoeger,

Any chance README.md can be updated with more detailed explanation of why favoring of `Run-From-Package`? The question I don't see addressed is: Why/How is a seemingly functional tree-shaking package being replaced by a new hosting option?

I ran a quick test of `Run-From-Package` deployment (containing full node_modules required for my project), and then additional quick test with a

[2019-01-16 23:01] mhoeger commented on #84
Hey @iyerusad, you nailed it :) Both `Run-From-Package` and `azure-functions-pack` reduce cold start by targeting the same area: reducing the amount of time taken to read individual files in a deployed app from storage (this is an expensive operation). `azure-functions-pack` reduces file reading by condensing everything to one file. `Run-From-Package` reduces this by keeping files as one payload (

[2019-01-17 11:55] iyerusad commented on #84
Awesome! Really helps condense rational when people come looking at options to address cold boot. I will be moving our Azure function deployments to run from package for the other benefits.

[2019-07-12 00:40] CastleArg commented on #84
Hi Team, I still can't help but feel we still need this project!
I'm getting really slow cold start times even with run for package, and it seems silly not to perform the basic goodness of webpack by minifying and tree shaking.
I feel both strategies should be used together.

[2019-09-23 20:45] westandy-dcp commented on #39
It's funny.  This works for serviceBusTrigger functions, but for timer trigger functions, this is not the case at all.  Consistency?

[2020-10-22 10:12] chearmstrong commented on #84
Sorry for commenting on an old issue, but I'm starting to explore Azure functions and trying to better understand some things around best practice and optimisations.

I've been pointed to use "Run from package" but I'm not sure I 100% get it just yet.

I usually work with AWS Lambda and I have experience with Webpack. I'm not clear if I should/could also use Webpack with "Run with package". I woul

[2020-10-22 20:27] mhoeger commented on #84
Hi @chearmstrong ! Thanks for the ping - we generally point to "run from package" because tests showed that webpacking code didn't have a significant impact on cold start. That being said, we haven't run those tests in years now and it would be good to retest.

`azure-functions-pack` is essentially just webpacking, but it takes care of changing entry points in `function.json` files. Unlike lambda,

[2020-10-28 14:56] chearmstrong commented on #84
@mhoeger Thanks for the reply. I think that makes sense for the most part - much appreciated. It certainly would be good to see if webpacking/bundling does make a difference to cold starts or performance in general.

For my own curiosity - is there any documentation that shows how "run from package" actually works, vs. not using that (or using only `azure-functions-pack`). What does the lifecycle

[2020-10-28 17:13] mhoeger commented on #84
No problem! Thanks for the good questions - this post should give good details on "run from package": https://github.com/Azure/app-service-announcements/issues/84 !

[2021-01-19 15:34] fzanfolim opened #92 "Error run - funcpack pack ./ -- SyntaxError: Unexpected token in JSON at position 0 (in root path project)"
funcpack pack ./
info: Generating project files/metadata
error:  SyntaxError: Unexpected token  in JSON at position 0
    at JSON.parse (<anonymous>)
    at Function.<anonymous> (/usr/local/lib/node_modules/azure-functions-pack/lib/utils/fs-helper.js:58:30)
    at Generator.next (<anonymous>)
    at fulfilled (/usr/local/lib/node_modules/azure-functions-pack/lib/utils/fs-helper.js:4:58)
(node:3012

[2022-09-13 15:18] microsoft-github-policy-service[bot] opened #94 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 19:35] #94 closed, assigned to nobody